<div id="header-navbar" class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    </div>
    <%= link_to 'Empire State Digital Network', root_path, class: "navbar navbar-brand" %>

    <div class="collapse navbar-collapse" id="user-util-collapse">
	<%= render :partial=>'/user_util_links' %>
    </div>
  </div>
</div>

<% if current_page?(root_url)  %>
    <% if has_search_parameters? %>
        <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <%= render_search_bar  %>
            </div>
        </div>
    <% end %>
<% else %>
    <% if controller.controller_name != 'pages' %>
        <div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <%= render_search_bar  %>
            </div>
        </div>
    <% end %>
<% end %>
