<h1>About</h1>
<div>The Empire State Library Network partners with New York's libraries, archives, and museums to share our history and treasures with a global audience.</div>

<div>Libraries have spent years making the historical treasures of New York -- its papers, photos and public records -- easier to find by scanning and putting digital copies online. But with so many different websites and databases to turn to, it can be difficult for residents, students, and researchers to uncover the rich history of our state. In 2013, the Empire State Digital Network (ESDN) was launched at the Metropolitan New York Library Council (METRO) to help the Empire State Library Network (ESLN) collect New York State’s digital library materials and bring them all together in one place and share them with the <a href="http://dp.la">Digital Public Library of America (DPLA)</a>.</div>

<div>Before libraries were digital, we used card catalogs and the Dewey decimal system to organize and describe books and other documents. Unfortunately, digital libraries don’t use one simple system to organize and describe information so that we can find it easily on the internet. ESDN acts as a translator that helps all of the different systems used by libraries, archives and museums work together. ESDN builds a catalog of historically significant papers, photos, and public records from New York State, and then makes them available online.</div><br/>

<div>This search site includes all of the library materials that ESDN has contributed to DPLA in addition to other New York State collections and content available through the DPLA.</div>

<div>Your <a href="https://goo.gl/forms/0PiBy13sMUiOqiKH2">feedback</a> about this website and about your search experience is welcome!</div>
 
<h2>Get involved:</h2>

<div>IF YOUR ORGANIZATION IS INTERESTED IN CONTRIBUTING TO DPLA THROUGH ESDN, PLEASE CONTACT THE EMPIRE STATE LIBRARY NETWORK LIAISON IN YOUR REGION FOR MORE INFORMATION:</div><br/>
<ul>
    <li>CDLC : Susan D’Entremont <a href="mailto:susan@cdlc.org">susan@cdlc.org</a></li>
    <li>CLRC : Déirdre Joyce <a href="mailto:djoyce@clrc.org">djoyce@clrc.org</a></li>
    <li>LILRC : Virginia Antonucci-Gibbons <a href="mailto:vantonuc@lilrc.org">vantonuc@lilrc.org</a></li>
    <li>METRO : Anne Karle-Zenith <a href="mailto:annekz@metro.org">annekz@metro.org</a></li>
    <li>NNYLN : Chuck Henry <a href="mailto:chuckh@nnyln.org">chuckh@nnyln.org</a> </li>
    <li>RRLC : Laura Osterhout <a href="mailto:losterhout@rrlc.org">losterhout@rrlc.org</a></li>
    <li>SCRLC : Julia Corrice <a href="mailto:jcorrice@scrlc.org">jcorrice@scrlc.org</a></li>
    <li>SENYLRC : Jennifer Palmentiero <a href="mailto:jennifer@senylrc.org">jennifer@senylrc.org</a></li>
    <li>WNYLRC : Jaclyn McKewan <a href="mailto:jmckewan@wnylrc.org">jmckewan@wnylrc.org</a></li>
</ul>
