<div class="page-header row">
    <h1 class="col-md-8 page-heading">Welcome to the <%= application_name %>!</h1>
</div>

<div id="getting-started">
    <h2 class='section-heading'>Local history, global access</h2>
</div>

