<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading"><%= application_name %></div>
            <div class="intro-lead-in">Local history, global access</div>
        </div>
    </div>
</header>
