// application.scss

@import "bootstrap";

@import 'blacklight/blacklight';

@import "agency/agency";

@import "font-awesome/css/font-awesome";

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

#header-navbar {
    background-color: #000408;
    border-color: #000408;
}

#header-navbar .navbar-brand {
    background: none;
    width: 500px;
    font-size: x-large;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 700;
}

header .intro-text .intro-heading {
    color: black;
}

header .intro-text .intro-lead-in {
    color: black;
}

header {
    background-image: image_url('header-bg.jpg');
}
