// application.scss

@import "bootstrap-sprockets";

// Import flatly variables
@import "bootswatch/flatly/variables";

@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";


@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

@import 'blacklight/blacklight';

#header-navbar .navbar-brand {
    background: none;
    width: 500px;
    font-size: x-large;
    background-repeat: no-repeat;
    background-color: #ffffff;
    text-decoration-color: black;
}

#header-navbar {
    background-color: #ffffff;
    color: black;
    width: 100%;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-nav> li > a {
    color: black;
}

#splash {
    height: 100%;
    width: 100%;
}

#main-container {
    width: 100%
}

#splash {
    background-image: image_url('header-bg.jpg');
    background-size: cover;
    width: 100%;
    height: 800px;
}

.intro-text {
    padding-top:200px;
}

.intro-text > h1 {
    text-align: center;
}

.intro-text > form {
    padding-left: 275px;
}

#cite {
    text-align: center;
    padding-top:15px;
}

#search {
    vertical-align: middle;
    margin: auto;
}

footer {
    
    height:40px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color:black;
}

footer > div.container {
    padding-top: 10px;
}

aside {
    padding-top: 50px;
    padding-bottom: 50px;
}

