// application.scss

@import "bootstrap";

@import 'blacklight/blacklight';

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

#header-navbar {
    background-color: #000408;
    border-color: #000408;
}

#header-navbar .navbar-brand {
    background: none;
    width: 500px;
    font-size: x-large;
}

